/* About.css */

/* Override Bootstrap card styles */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Add custom padding to the container */
.about-container {
    margin-top: 70px;
    padding: 40px 20px;
    background-color: #f8f9fa;
    background-image: url('./assets/Ginger-beer-float.jpg'); /* Path to your image */
    background-size: cover;  /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Optional: keeps the background image fixed on scroll */
}

.about-text {
    color: black;
    font-size: larger;
}

.contact-text {
    color: black;
}

/* Customize button */
.custom-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #218838;
}
